.aside {
  width: 250px;
  height: 100vh;
  transition: transform 0.1s ease-in-out;
}

@media (min-width: 768px) {
  .aside {
    position: relative;
    width: 250px;
    flex-shrink: 0; /* evita que se deforme */
  }

  .show {
    transform: translateX(0);
    width: 250px;
    opacity: 1;
    visibility: visible;
  }

  .hide {
    transform: translateX(-100%);
    width: 0;
    opacity: 0;
    visibility: hidden;
    padding: 0 !important;
    overflow: hidden;
  }
}

@media (max-width: 767px) {
  .aside {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050; 
    transform: translateX(-100%);
  }

  .show {
    transform: translateX(0);
  }

  .hide {
    transform: translateX(-100%);
  }

  .overlay {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1040; 
  }
}

.collapsed {
    width: 0;
    min-width: 0;
    padding: 0;
    overflow: hidden;
}


.delete:hover {
    color: white;
    background-color: #ec4848;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}


.update:hover {
    color: white;
    background-color: #4cb42c;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.read:hover {
    color: white;
    background-color: #17a2b8;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.create:hover {
    color: white;
    background-color: #007bff;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.a {
    margin-left: 6px;
}





